.content-page {
    margin-left: 0;
}

.main-menu li:hover {
    background-color: #ebeff2;
}

@media (max-width: 767px) {
    .main-menu li {
        text-align: center;
    }

    .avatar {
        float: none !important;
        text-align: center;
        width: 100%;
    }

    .profile img {
        width: 70px;
        height: 70px;
    }

    .content-page > .content {
        margin-top: 360px;
    }

    .navbar-nav .open .dropdown-menu {
        right: 50%;
    }
}